<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>DietApp</title>
    <script type="text/javascript" src="clock.js"></script>
</head>
<div class="container-sm">
<body onload="counter();">
<div id="clock"></div>
    <h1>Welcome in dietApp</h1>
<!--    <h5>Create or log in here:</h5>-->
<!--    <a href="#" th:href="@{/register}" class="btn btn-secondary">Register</a>-->
<!--    <a href="#" th:href="@{/login}" class="btn btn-secondary">Log in</a>-->
    <h3>Options to use:</h3>
    <h5>Person information</h5>
    <a th:href="@{/person}" class="btn btn-secondary">Person info</a>

    <h5>Product information</h5>
    <a th:href="@{/product}" class="btn btn-secondary">Product info</a>

<!--<h3>Control table</h3>-->
<!--    <h5>Answer the question for each day:</h5>-->
<!--    <p>'Work' - did you train in these day?</p>-->
<!--    <p>'Diet' - did you eat the right amount of calories?</p>-->
<!--<table border="1" class="table table-sm border-dark">-->
<!--    <tr class="table-dark">-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="row">Monday</th>-->
<!--        <th scope="col">Tuesday</th>-->
<!--        <th scope="col">Wednesday</th>-->
<!--        <th scope="col">Thursday</th>-->
<!--        <th scope="col">Friday</th>-->
<!--        <th scope="col">Saturday</th>-->
<!--        <th scope="col">Sunday</th>-->
<!--    </tr>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <th>Week 1</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>Week 2</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>Week 3</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>Week 4</th>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table></br>-->
<!--    <button onclick="window.print()" class="btn btn-light">Print page</button>-->
</body>
</div>
</html>