<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Person Management</title>
</head>
<body>
<h1>New Person Form</h1>
<fieldset>
    <form action="#" th:action="@{/savePersonInfo}" th:object="${personData}" method="POST">
      <label>First name:</label>
      <p><input type="text" th:field="*{firstName}" placeholder="example: John" class="form-control mb-4 col-4"></p>
      <label>Last name:</label>
      <p><input type="text" th:field="*{lastName}" placeholder="example: Cherry" class="form-control mb-4 col-4"></p>
      <label>Age:</label>
      <p><input type="number" th:field="*{age}" placeholder="25" class="form-control mb-4 col-4"></p>
      <label>Growth [cm]:</label>
      <p><input type="number" th:field="*{growth}" placeholder="185" class="form-control mb-4 col-4"></p>
      <label>Weight [kg] :</label>
      <p><input type="number" th:field="*{weight}" placeholder="80" class="form-control mb-4 col-4"></p>
      <button type="submit" class="btn btn-success col-2">Save</button>
      <p>Gender:</p>
      <label>Male</label>
      <input type="radio" name="gender" class="form-control mb-4 col-4">
      <label>Female</label>
      <input type="radio" name="gender" class="form-control mb-4 col-4">
    </form>
</fieldset>
<a th:href="@{/person}" type="button">Back</a>
<a th:href="@{/}" type="button">Homepage</a>
<p>Note: You can edit your data later by clicking 'edit' at homepage</p>
</body>
</html>