<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
</head>
<body>
    <h1>New Product Form</h1>
    <fieldset>
        <form action="#" th:action="@{/saveProductInfo}" th:object="${product}" method="POST">
            <label>Name:</label>
            <p><input type="text" th:field="*{name}" placeholder=".." class="form-control mb-4 col-4"></p>
            <label>Weight:</label>
            <p><input type="number" th:field="*{weight}" placeholder=".." class="form-control mb-4 col-4"></p>
            <label>Calories:</label>
            <p><input type="number" th:field="*{calories}" placeholder=".." class="form-control mb-4 col-4"></p>
            <label>Protein:</label>
            <p><input type="number" th:field="*{protein}" placeholder=".." class="form-control mb-4 col-4"></p>
            <label>Fat:</label>
            <p><input type="number" th:field="*{fat}" placeholder=".." class="form-control mb-4 col-4"></p>
            <label>Carbohydrates:</label>
            <p><input type="number" th:field="*{carbohydrates}" placeholder=".." class="form-control mb-4 col-4"></p>
            <button type="submit" class="btn btn-success col-2">Save</button>
        </form>
    </fieldset>
    <a th:href="@{/product}" type="button">Back</a>
    <a th:href="@{/}" type="button">Homepage</a>
    <p>Note: You can edit your data later by clicking 'edit' at homepage</p>
</body>
</html>