<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Info</title>
</head>
<body>
    <div class="container">
      <h1>Person information</h1>
      <a th:href="@{/showPersonInfoForm}" type="button">Add info</a>
      <a th:href="@{/}" type="button">Homepage</a>
      <table border="1">
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Age</th>
          <th scope="col">Growth</th>
          <th scope="col">Weight</th>
          <th scope="col">BMR</th>
          <th> Actions </th>
        </tr>
        <tbody>
        <tr th:each="person: ${personInfoList}">
          <td th:text="${person.firstName}"></td>
          <td th:text="${person.lastName}"></td>
          <td th:text="${person.age}"></td>
          <td th:text="${person.growth}"></td>
          <td th:text="${person.weight}"></td>
          <td th:text="${person.bmr}"></td>
          <td>
            <a th:href="@{/showFormForUpdatePerson/{id}(id=${person.id})}" type="button">Update</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</body>
</html>